<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootdo.user.dao.LoginUserDao">


    <select id="userList" parameterType="com.bootdo.user.Vo.MemberVo" resultType="com.bootdo.user.Vo.MemberVo">
        SELECT
        a.id,
        a.phone,
        a.create_time AS 'createTime',
        a.last_updatetime AS 'lastUpdatetime',
        a.`status`,
        a.isverified,
        a.openId,
        b.account,
        b.mail,
        b.age,
        b.sex,
        b.true_name AS 'trueName'
        FROM user a, user_info b
        WHERE a.id = b.userid
    </select>

</mapper>